@model List<ListLocationVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>This is Location Địa điểm trực </h4>
<div>
    <a asp-action="Create"><i class="bi bi-plus"></i>Create New</a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    ID
                </th>               
                <th>
                    Tên địa điểm
                </th>              
                <th>
                    Ngày tạo đơn 
                </th>
                <th>
                    Trạng thái 
                </th>
                <th>
                    Thao tác 
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListID)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @switch (item.SignStatus)
                        {
                            case Status.TAM_LUU:
                                <text>Tạm lưu</text>
                                break;
                            case Status.CHO_KY:
                                <text>Chờ ký</text>
                                break;
                            case Status.DA_KY:
                                <text>Đã ký</text>
                                break;
                            default:
                                <text>Trạng thái không xác định</text>
                                break;
                        }
                    </td>

                    <td>
                        <a asp-action="Update" asp-route-id="@item.ListID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ListID">Details</a> |
                       @*  <a asp-action="Delete" asp-route-id="@item.ListID">Delete</a> *@
                        <a asp-route-id="@item.ListID" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                 <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure delete this ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>

                        <button type="button"  asp-action="Delete" asp-controller="Location" class="btn bg-gradient-primary">Save changes</button>

                    </div>
               
            </div>

        </div>
    </div>
</div>
          

           
