@using WebApplicationApp.ViewModels
@model LocationsViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h4 class="text-center">Update Location</h4>
<button type="button" class="btn btn-sm">
    <a asp-action="Index"><i class="bi bi-chevron-left"></i>Back to List</a>
</button>

<div class="container-fluid">
    <form class="row g-2" asp-action="Update" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Mã nhân viên : </label>
                <input type="hidden" asp-for="EmployeeNo" value="@ViewBag.UserNO" />
                <input class="form-control" type="text" disabled value="@ViewBag.UserNO" />
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Tên người làm đơn : </label>
                <input class="form-control" type="text" disabled value="@ViewBag.UserName" />
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Địa chỉ mail </label>
                <input class="form-control" type="text" disabled value="@ViewBag.Notes" />
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Tên vị trí làm việc :</label>
                <input class="form-control" type="text" asp-for="LocationName" />
                <span class="text-danger" asp-validation-for="LocationName"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Khu vực làm việc :</label>                
                <select id="areaDropdown" asp-for="@Model.Area" asp-items="@ViewBag.GetAreas" class="form-control" required>
                    <option disabled selected>@Model.Area</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Khu :</label>           
                <select id="regionDropdown" class="form-control" asp-for="Region" required>
                    <option disabled selected>@Model.Region</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Tòa nhà :</label>
                <input class="form-control" type="text" asp-for="Building" />
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static">
                <label class="control-label">Hướng :</label>
                <input class="form-control" type="text" asp-for="Azimuth" />
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static ">
                <label class="control-label pt-2">Tầng :</label>
                <input class="form-control" type="text" asp-for="Floors">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static ">
                <label class="control-label pt-2">Station type :</label>
                <select class="form-control" type="text" asp-for="StationType">
                    <option value="1 ca">1 ca</option>
                    <option value="2 ca">2 ca</option>
                    <option value="3 ca">3 ca</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static ">
                <label class="control-label pt-2">Khác :</label>
                <input class="form-control" placeholder="Limit 100 characters" type="text" asp-for="Other">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static ">
                <label class="control-label pt-2">Ngày bắt đầu:</label>
                <input class="form-control" type="date" asp-for="StartTime">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static ">
                <label class="control-label pt-2">Ngày kết thúc :</label>
                <input class="form-control" type="date" asp-for="EndTime">
            </div>
        </div>
        <div class="col-6">
            <div class="input-group input-group-static ">
                <label class="control-label pt-2">Người phê duyệt :</label>
                <input class="form-control" placeholder="Eg: V012345" type="text" asp-for="SignUser">
                <span class="text-danger" asp-validation-for="SignUser"></span>
            </div>
        </div>
        <div class="form-group pt-3">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#areaDropdown').change(function () {
                var areaId = $(this).val();
                $.ajax({
                    url: 'https://localhost:44389/api/Region/GetRegion/' + areaId + '/byAreaID',
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    data: { areaId: areaId },
                    success: function (data) {
                        $('#regionDropdown').empty();
                        if (data.length === 0) {
                            $('#regionDropdown').append($('<option></option>').text('No data').val('no data'));
                        } else {
                            $.each(data, function (index, region) {
                                $('#regionDropdown').append($('<option></option>').attr('value', region.regionID).text(region.regionName));
                            });
                        }
                    },
                    error: function () {
                        alert('Error occurred while fetching locations.');
                    }
                });
            });
        });
    </script>
}