@model CreateWorkScheduleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create - Tạo mới lịch làm việc";
}
<h4 class="text-center">Create - tạo mới lịch làm việc</h4>
<button type="button" class="btn btn-sm">
    <a asp-action="Index"><i class="bi bi-chevron-left"></i>Back to List</a>
</button>
<form class="row g-3" asp-action="Create" method="post" enctype="multipart/form-data">
    <h5>I.Thông tin cơ bản :</h5>
           <div class="col-6">
                <div class="input-group input-group-static">
                    <label class="control-label pt-2">Tên  :</label>
                    <input type="text" class="form-control" value="@ViewBag.UserName" />
                </div>
            </div>
           <div class="col-6">
                <div class="col-6 input-group input-group-static">
                    <label class="control-label pt-2">Mã thẻ :</label>
                    <input type="hidden" />
                    <input type="text" class="form-control" value="@ViewBag.UserNO" />
                </div>
           </div>
           <div class="col-6">
                <div class="col-6 input-group input-group-static">
                    <label class="control-label pt-2">Số điện thoại :</label>
                    <input type="text" class="form-control" />
                </div>
           </div>
           <div class="col-6">
                <div class="col-6 input-group input-group-static">
                    <label class="control-label pt-2">Mail :</label>
                    <input type="text" class="form-control" value="@ViewBag.Notes" />
                </div>
           </div>
           <div class="col-6">
                <div class="col-6 input-group input-group-static">
                    <label class="control-label pt-2">Bộ phận :</label>
                    <input type="text" class="form-control" asp-for="BG" value="@ViewBag.BG" />
                </div>
           </div>
            <div class="col-6">
                <div class="col-6 input-group input-group-static">
                    <label class="control-label pt-2">BU :</label>
                    <input type="text" class="form-control" asp-for="BU" value="@ViewBag.BU"/>
                </div>
            </div>
           <div class="col-6">
                <div class="col-md-6 input-group input-group-static">
                    <label class="control-label pt-2">Mã chi phí :</label>
                    <input class="form-control" value="@ViewBag.BuCode" />
                </div>
           </div>

    <h5>Ⅱ. Thông tin chi tiết về ca làm việc :</h5>
        <div class="col-4">
            <div class=" input-group input-group-static">
                <label class="control-label pt-2">Chi tiết vị trí làm việc :</label>
                <select id="listLocationDropDown" asp-items="@ViewBag.GetLocationList" class="form-control" required>
                    <option disabled selected>Select Location Detail</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class=" input-group  input-group-static">
                <label class="control-label pt-2">Ca làm việc :</label>
                <select asp-for="ShiftID" asp-items="@ViewBag.GetShiftList" class="form-control" required>
                    <option disabled selected>Select Work Shift</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class=" input-group input-group-static">
                <label class="control-label pt-2">Nhân viên  :</label>
                <select asp-for="EmployeeID" asp-items="@ViewBag.GetEmployeeList" class="form-control" required>
                    <option disabled selected>Select Employee</option>
                </select>
            </div>
        </div>
        <div class="col-4">
        <div class="col-md-4 input-group input-group-static mb-4">
                <label class="control-label pt-2">Ngày bắt đầu :</label>
                <input id="datepicker" asp-for="StartTime" class="form-control" type="date" required />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
        <div class="col-md-4 input-group input-group-static mb-4">
                <label class="control-label pt-2">Ngày kết thúc :</label>
                <input asp-for="EndTime" type="date" class="form-control" required />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
        </div>
    <div class="col-4 mb-4">
            <div class="input-group input-group-static">
                <label class="control-label pt-2">Chu kỳ lặp :</label>
                <input type="number" class="form-control" asp-for="Interval" placeholder="Điền số nguyên ví dụ : 1;2;.." />
            </div>
        </div>
        <div class="form-group row ">
        <div class="col-md-2 mb-4">
                <p>Lặp theo :</p>
                <div class="form-check ">
                    <input class="form-check-input" type="radio" asp-for="Frequency" value="daily" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Theo ngày
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Frequency" value="weekly" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Theo tuần
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Frequency" value="monthly" id="flexRadioDefault3" />
                    <label class="form-check-label" for="flexRadioDefault3">
                        Theo tháng
                    </label>
                </div>
            </div>
            <div class=" col-md-9">

            <p>Ngày làm việc trên tuần :</p>
            <div class="row">
                <div class="form-check col-md-2 ">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="mo" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Thứ hai
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="tu" id="flexCheckChecked1" />
                    <label class="form-check-label" for="flexCheckChecked1">
                        Thứ ba
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="we" id="flexCheckChecked2" />
                    <label class="form-check-label" for="flexCheckChecked2">
                        Thứ tư
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="th" id="flexCheckChecked3" />
                    <label class="form-check-label" for="flexCheckChecked3">
                        Thứ năm
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="fr" id="flexCheckChecked4" />
                    <label class="form-check-label" for="flexCheckChecked4">
                        Thứ sáu
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="sa" id="flexCheckChecked5" />
                    <label class="form-check-label" for="flexCheckChecked5">
                        Thứ bảy
                    </label>
                </div>
                <div class="form-check col-md-2">
                    <input class="form-check-input" type="checkbox" name="ByWeekday" value="su" id="flexCheckChecked6" />
                    <label class="form-check-label" for="flexCheckChecked6">
                        Chủ nhật
                    </label>
                </div>
                <span asp-validation-for="ByWeekday" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="input-group input-group-static">
            <label class="control-label pt-2">Ghi chú :</label>
            <input type="text" asp-for="Notes" class="form-control" placeholder="Limit 200 charecter " />
        </div>
    </div>
    <div class="col-6">
        <div class="input-group input-group-static">
            <label class="control-label pt-2">Người ký duyệt :</label>
            <input class="form-control" type="text" placeholder="Eg: V0123456" />
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
    
</form>
<div id='calendar'></div>
@section Scripts {
    <script>
        
        $(document).ready(function () {          
            $('#areaDropdown').change(function () {
                var areaId = $(this).val();
                $.ajax({
                    url: 'https://localhost:44389/api/ListLocations/' + areaId,
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    data: { areaId: areaId },
                    success: function (data) {
                        $('#locationDropdown').empty();
                        if (data.length === 0) {
                            $('#locationDropdown').append($('<option></option>').text('No data').val(''));
                        } else {
                            $.each(data, function (index, location) {
                                $('#locationDropdown').append($('<option></option>').attr('value', location.locationID).text(location.locationDetailName));
                            });
                        }
                    },
                    error: function () {
                        alert('Error occurred while fetching locations.');
                    }
                });
            });
           
        });
      
        
    </script>
}