@model List<EmployeeViewModel>
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Danh sách nhân viên </h4>
<div class=" table-responsive-md">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">
                    ID
                </th>
                <th class="text-center align-middle">
                    Mã nhân viên
                </th>
                <th class="text-center align-middle">
                    Tên nhân viên
                </th>
                <th class="text-center align-middle">
                    Giới tính
                </th>
                <th class="text-center align-middle">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.EmployeeNo)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td class="text-center align-middle">
                        <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>